<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
   {{{body}}}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtNXEpEHYhP-VMWv0RzGG2XMXn_X1wAwg"></script>
  <script src="/javascripts/main.js"></script>
  </body>
</html>
